<h1>Cocktails</h1>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class= "card" style= "background-image: url(<%= image_path "drink.jpg" %>)" >
          <div class= "card_content">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="padded">

  <%= link_to "Make a new cocktail", new_cocktail_path, class: "btn mybtn"%>
</div>



