h1 {
 text-align: center;
 }

h2 {
   text-align: center;
  font-size: 20px
 }
 // Specific CSS for your home-page

.padding {
  padding: 20px;
}

body {
  background-color: white;

}

.padded {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.centerbox {
   display: flex;
   justify-content: center;
}

.list {

}

