.mybtn {
  border: 2px solid grey ;
  border-radius: 25px;
  margin: 10px;
  background-color: white;
  color: grey;
  font-weight: lighter;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  justify-content: center;
}

.mybtn:hover {
  text-decoration: none;
  border: 2px solid black;
  color: black;
}

