<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(69,68,68,0.8) 100%), url(<%= image_path "cocktail.jpg" %>);">

  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>Come drink with us</p>
  </div>
</div>
<!-- image_tag => <img src="">
image_path => "images/name.jpg" -->
